.ipynb_checkpoints/
.vscode/
gradcam/
logs/
result_daily/
results_total/
weights/
datasets/
images/
temp/

*/__pycache__
*.pyc
*.ipynb
*.hdf5
*.pkl
*.tmp
*.ink
*.db
*.h5
*.hdf5
*.png
*.ipynb*
*.npy
*.txt

*temp*
config.json
./*.py

!./requirements.txt
