.ipynb_checkpoints/
.vscode/
gradcam/
logs/
result_daily/
results_total/
weights/
datasets/
images/
temp/

*.pyc
*.ipynb
*.hdf5

temp.py
config.json

!AnoGan_custom_gpu_0.ipynb
!cycle_gan_resnet_block_gpu_0.ipynb
!cycle_gan_inceptionv3_gpu_0.ipynb
!cycle_gan_custom_gpu_0.ipynb
!classification_inceptionv3_gpu_0.ipynb
!classification_custom_gpu_0.ipynb
!segmenation_inceptionv3_unet_gpu_0.ipynb
!segmenation_deeplabv3_gpu_0.ipynb
!segmenation_auto_curation_inceptionv3_unet_gpu_0.ipynb
!star_gan_inceptionv3_gpu_0.ipynb
!check_augumentations.ipynb
!multi_label_incetpionv3_gpu_0.ipynb